.table {
  tr td img {
    width: 80px !important;
    height: 80px !important;
    object-fit: cover;
  }

  tr {
    text-align: center;
    vertical-align: middle;
  }

  td i {
    cursor: pointer;
  }

  td,
  th {
    color: var(--primary-color);
  }
}
