.hero-section {
  background-color: var(--hero-bg);
}

.hero-content {
  padding-top: 45px;
}

.hero-title {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero-desc {
  color: var(--primary-color);
  line-height: 28px;
  &:nth-child(1) {
    font-weight: 500;
  }
}

.buy-btn {
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1rem;
  margin-top: 40px;
  a:hover {
    color: var(--white-color);
  }
}

.hero-img {
}

.section-title {
  color: var(--primary-color);
  font-weight: 600;
}

// Timer count
.timer-count {
  background-color: var(--primary-color);
  img {
    width: 40% !important;
    height: 100% !important;
    object-fit: contain;
  }
}

.store-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  font-weight: 600;
  a:hover {
    color: var(--primary-color);
  }
}

// Responsive
@media only screen and (max-width: 992px) {
  .hero-title {
    font-size: 2rem;
  }

  .section-title {
    font-size: 1.7rem;
  }

  .counter-img {
    display: none;
  }

  .clock-top-content {
    text-align: center;
    h4 {
      font-size: 0.9rem !important;
    }
    h3 {
      font-size: 1rem !important;
    }
  }

  .count-down-col {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .hero-title {
    font-size: 1.6rem;
  }

  .hero-desc {
    font-size: 0.9rem;
  }

  .buy-btn {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero-content {
    padding-top: 0;
    margin-bottom: 40px;
  }
}
