.product-detail {
  margin-top: 70px;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
}

.product-rating {
  span i {
    color: var(--rating-color);
  }

  p span {
    color: var(--rating-color);
    font-weight: 500;
  }
}

.product-price {
  font-size: 1.3rem;
  font-weight: 500;
}

.tab-wrapper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.active-tab {
  font-weight: 600;
}

.tab-content {
  p {
    line-height: 30px;
  }
}

.review-wrapper {
  .review-item span {
    color: var(--rating-color);
    font-weight: 600;
  }

  .review-item p {
    margin-top: 10px;
  }
}

.review-form {
  width: 70%;
  margin: auto;
  margin-top: 50px;

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .form-group {
    margin-bottom: 30px;

    input,
    textarea {
      width: 100%;
      border: 1px solid var(--primary-color);
      border-radius: 5px;
      padding: 8px 20px;

      &:focus {
        outline: none;
      }
    }

    span {
      display: flex;
      align-items: center;
      column-gap: 5px;
      color: var(--rating-color);
      font-weight: 600;
      cursor: pointer;
    }
  }

  .rating-group {
    display: flex;
    align-items: center;
    column-gap: 3rem;
  }
}

.recommended-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .product-detail {
    h2 {
      font-size: 1.3rem;
    }
  }

  .rating-group {
    column-gap: 1rem !important;
  }
}
